{"swagger":"2.0","info":{"version":"1","title":"DeviceBits REST API","description":"This is the webservice that DeviceBits and Clients use to access all \navailable content that DeviceBits produces. This includes Phone information, \nTutorials, FAQs, TroubleShooting Guides, and Videos. \n\nFor access or more information on DeviceBits please contact: sales@devicebits.com.\n\nYou can try all HTTP operations described in this Swagger spec.\n"},"host":"api.devicebits.com","basePath":"/","schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"security":[{"api_key":[]}],"paths":{"/phones":{"get":{"parameters":[{"$ref":"#/parameters/languageParam"}],"responses":{"200":{"description":"List all phones","schema":{"title":"Phones","type":"object","items":{"$ref":"#/definitions/PhoneSummary"}}}}}},"/phones/{customerId}":{"get":{"parameters":[{"name":"customerId","in":"path","required":true,"type":"string","description":"CustomerId of the phone that denotes phone and carrier"}],"responses":{"200":{"description":"Phone","schema":{"$ref":"#/definitions/PhoneMerged"}}}}},"/faqs":{"get":{"parameters":[{"$ref":"#/parameters/languageParam"},{"$ref":"#/parameters/phoneParam"},{"$ref":"#/parameters/presalesParam"}],"responses":{"200":{"description":"List all FAQs for a phone","schema":{"title":"FAQs","type":"object","items":{"$ref":"#/definitions/FAQs"}}}}}},"/videos":{"get":{"parameters":[{"$ref":"#/parameters/languageParam"},{"$ref":"#/parameters/phoneParam"},{"$ref":"#/parameters/presalesParam"}],"responses":{"200":{"description":"List all Videos for a phone","schema":{"title":"Videos","type":"object","items":{"$ref":"#/definitions/Video"}}}}}},"/tutorials":{"get":{"parameters":[{"$ref":"#/parameters/languageParam"},{"$ref":"#/parameters/phoneParam"},{"$ref":"#/parameters/presalesParam"}],"responses":{"200":{"description":"List all Tutorials underneath their respective category for a phone","schema":{"title":"Tutorials","type":"object","items":{"$ref":"#/definitions/TutorialCategory"}}}}}},"/tutorials/steps/{tutorialId}":{"get":{"description":"Returns tutorial steps and animation sequences given a tutorial id","operationId":"TutorialStepsGetRoute","produces":["application/json"],"parameters":[{"name":"tutorialId","in":"path","required":true,"type":"integer","format":"int32","description":"ID of tutorial"},{"name":"languageKey","in":"query","required":false,"type":"integer","format":"int32","description":"Language to return 1 - En , 2 - Sp, 3 - informal SP"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/TutorialstepMerged"}}}}},"/guides":{"get":{"parameters":[{"$ref":"#/parameters/languageParam"},{"$ref":"#/parameters/phoneParam"},{"$ref":"#/parameters/presalesParam"}],"responses":{"200":{"description":"List all Guides in a tree structure for a phone","schema":{"title":"Guides","type":"object","items":{"$ref":"#/definitions/Guide"}}}}}}},"parameters":{"languageParam":{"name":"language","in":"query","description":"Language 1 is english","type":"integer","required":true,"default":1},"phoneParam":{"name":"phoneId","in":"query","description":"ID or PrimaryKey of phone you're requesting info for","type":"integer","required":true,"default":1},"presalesParam":{"name":"presales","in":"query","description":"Content restricted to sales help only.","type":"integer","required":false,"default":0}},"definitions":{"PhoneSummary":{"type":"object","properties":{"id":{"type":"integer"},"os":{"type":"string"},"manufacturer":{"type":"string"},"name":{"type":"string"},"image_location":{"type":"string"},"customerID":{"type":"string"}}},"PhoneManual":{"title":"PhoneManual","type":"object","properties":{"url":{"type":"string"}}},"FeaturesvaluepairSimple":{"title":"FeaturesvaluepairSimple","type":"object","properties":{"featuretype":{"type":"string"},"feature":{"type":"string"}}},"FeaturesSimple":{"title":"FeaturesSimple","type":"object","properties":{"feature":{"type":"string"}}},"PhoneMerged":{"title":"PhoneMerged","type":"object","properties":{"phone":{"$ref":"#/definitions/Phone"},"carrier":{"$ref":"#/definitions/Carrier"},"features":{"type":"array","items":{"$ref":"#/definitions/FeaturesSimple"}},"featurevaluepairs":{"type":"array","items":{"$ref":"#/definitions/FeaturesvaluepairSimple"}},"accessories":{"type":"array","items":{"$ref":"#/definitions/IncludedaccessorySimple"}},"image":{"$ref":"#/definitions/PhoneImage"},"manual":{"$ref":"#/definitions/PhoneManual"},"manual2":{"$ref":"#/definitions/PhoneManual"},"languageKey":{"type":"integer","format":"int32"},"imageText":{"type":"string"}}},"IncludedaccessorySimple":{"title":"IncludedaccessorySimple","type":"object","properties":{"accessory":{"type":"string"}}},"Phone":{"title":"Phone","type":"object","properties":{"pk":{"type":"integer","format":"int32"},"name":{"type":"string"},"features":{"type":"string"},"carrierfk":{"type":"integer","format":"int32"},"phonetypefk":{"type":"integer","format":"int32"},"devicemcd":{"type":"string"},"locale":{"type":"string"},"customerid":{"type":"string"},"devicesize":{"type":"string"},"phonestatus":{"type":"string"},"imageLocation":{"type":"string"},"manualLocation":{"type":"string"},"manufacturer":{"type":"string"},"manual2Location":{"type":"string"},"customerid2":{"type":"string"}}},"PhoneImage":{"title":"PhoneImage","type":"object","properties":{"url":{"type":"string"}}},"Carrier":{"title":"Carrier","type":"object","properties":{"pk":{"type":"integer","format":"int64"},"carrierName":{"type":"string"}}},"FAQs":{"type":"object","properties":{"phoneId":{"type":"integer"},"faqs":{"type":"array","items":{"$ref":"#/definitions/FAQParentCategories"}}}},"FAQParentCategories":{"type":"object","properties":{"name":{"type":"string"},"children":{"type":"array","items":{"$ref":"#/definitions/FAQChildCategories"}}}},"FAQChildCategories":{"type":"object","properties":{"name":{"type":"string"},"children":{"type":"array","items":{"$ref":"#/definitions/FAQ"}}}},"FAQ":{"type":"object","properties":{"pk":{"type":"integer"},"phoneFk":{"type":"integer"},"outputOrder":{"type":"integer"},"name":{"type":"string"},"val":{"type":"string"},"presales":{"type":"integer"}}},"Video":{"type":"object","properties":{"pk":{"type":"integer"},"title":{"type":"string"},"url":{"type":"string"},"thumb":{"type":"string"},"phonefk":{"type":"integer"}}},"TutorialCategory":{"type":"object","properties":{"name":{"type":"string"},"children":{"type":"array","items":{"$ref":"#/definitions/TutorialSummary"}}}},"TutorialSummary":{"type":"object","properties":{"pk":{"type":"integer"},"tutorialtype":{"type":"string"},"name":{"type":"string"},"tutorialstatus":{"type":"string"},"tutorialCategoryName":{"type":"string"}}},"Tutorialstep":{"title":"Tutorialstep","type":"object","properties":{"tutorialfk":{"type":"integer","format":"int32"},"outputorder":{"type":"integer","format":"int32"},"step":{"type":"string"},"screentypefk":{"type":"integer","format":"int32"},"buttontypefk":{"type":"integer","format":"int32"},"imageLocation":{"type":"string"},"imageFile":{"type":"string"},"animationJson":{"type":"string"},"orientation":{"type":"string"},"stepnumber":{"type":"integer","format":"int32"},"flashfile":{"type":"string"},"swipeoraction":{"type":"string"},"lcdbutton":{"type":"integer","format":"int32"},"imageLocationTut":{"type":"string"},"stepLanguage2":{"type":"string"},"stepLanguage3":{"type":"string"}}},"Tutorial":{"title":"Tutorial","type":"object","properties":{"pk":{"type":"integer","format":"int64"},"phonefk":{"type":"integer","format":"int32"},"name":{"type":"string"},"features":{"type":"string"},"tutorialCategoryfk":{"type":"integer","format":"int32"},"tutorialmcd":{"type":"string"},"tutorialtype":{"type":"string"},"outputorder":{"type":"integer","format":"int32"},"tutorialstatus":{"type":"string"},"tutorialguid":{"type":"string"},"nameLanguage2":{"type":"string"},"nameLanguage3":{"type":"string"},"tutorialCategoryfkLanguage2":{"type":"integer","format":"int32"},"tutorialCategoryfkLanguage3":{"type":"integer","format":"int32"},"presales":{"type":"integer","format":"int32"}}},"TutorialstepMerged":{"title":"TutorialstepMerged","type":"object","properties":{"tutorialstep":{"$ref":"#/definitions/Tutorialstep"},"tutorial":{"$ref":"#/definitions/Tutorial"},"buttonScreenImage":{"$ref":"#/definitions/ButtonScreenImage"},"phoneScreenImage":{"$ref":"#/definitions/PhoneScreenImage"}}},"PhoneScreenImage":{"title":"PhoneScreenImage","type":"object","properties":{"pk":{"type":"integer","format":"int32"},"phonefk":{"type":"integer","format":"int32"},"screentypefk":{"type":"integer","format":"int32"},"imagelocation":{"type":"string"},"screenxupperleft":{"type":"integer","format":"int32"},"screenyupperleft":{"type":"integer","format":"int32"},"screenxsize":{"type":"integer","format":"int32"},"screenysize":{"type":"integer","format":"int32"},"orientation":{"type":"string"}}},"ButtonScreenImage":{"title":"ButtonScreenImage","type":"object","properties":{"pk":{"type":"integer","format":"int64"},"phonefk":{"type":"integer","format":"int32"},"phonescreenfk":{"type":"integer","format":"int32"},"buttontypefk":{"type":"integer","format":"int32"},"buttonxupperleft":{"type":"integer","format":"int32"},"buttonyupperleft":{"type":"integer","format":"int32"},"buttonxsize":{"type":"integer","format":"int32"},"buttonysize":{"type":"integer","format":"int32"}}},"Guide":{"type":"object","properties":{"val":{"type":"string"},"type":{"type":"string"},"text":{"type":"string"},"children":{"type":"array","title":"Guides","items":{"$ref":"#/definitions/Guide"}}}}},"securityDefinitions":{"api_key":{"type":"apiKey","name":"Authorization","in":"header","description":"The DeviceBits REST API requires a JWT (http://jwt.io) token issued by DeviceBits. It should be included in the Authorization header prefixed by the word \"Bearer \". For example, 'Authorization Bearer foobar'"}}}